#header.header-all-time-top-fixed {
	position: fixed;
	height: 100px;
  }
  
  #header.header-all-time-top-fixed .full-screen-block {
	height: 100px !important;
  }
  
  #header.header-all-time-top-fixed .header-body {
	background: rgba(34, 34, 34, 0.95) !important;
	width: 100% !important;
	height: 100px !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default.light {
	background-color: rgba(255, 255, 255, 0.9);
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav {
	height: 100px;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li {
	height: 100px !important;
	background-size: cover !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li a {
	text-indent: 0 !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li .link-item {
	text-indent: 0 !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li .bg-icon {
	color: rgba(255, 255, 255, 0.2) !important;
	top: 8px !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li .bg-icon i {
	color: rgba(255, 255, 255, 0.2) !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li .rotated-title {
	display: none !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li .sub-menu-container {
	background-color: rgba(0, 0, 0, 0.9);
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li .sub-menu-container .sub-menu-list li {
	height: inherit !important;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default .navbar-nav li:hover .sub-menu-container {
	left: 0;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default.light .navbar-nav li a {
	color: #222222;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default.light .navbar-nav li .link-item {
	color: #222222;
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default.light .navbar-nav li .bg-icon {
	color: rgba(34, 34, 34, 0.3);
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default.light .navbar-nav li .bg-icon i {
	color: rgba(34, 34, 34, 0.3);
  }
  
  #header.header-all-time-top-fixed .header-body .navbar-default.light .navbar-nav li .sub-menu-container {
	background-color: rgba(255, 255, 255, 0.9);
  }
  
  #header.header-top-fixed {
	position: fixed;
	height: 100px;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }
  
  #header.header-top-fixed .full-screen-block {
	height: 100px !important;
  }
  
  #header.header-top-fixed .header-body {
	width: 100%;
  }
  
  #header.no-shadow {
	box-shadow: none;
  }
  
  #header {
	position: absolute;
	z-index: 150;
	display: block;
	top: 0;
	left: 0;
	right: 0;
  }
  
  #header .container {
	position: relative;
  }
  
  #header .navbar-toggle {
	display: none;
  }
  
  #header .header-body {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
	height: 100%;
  }
  
  #header #container-fixed {
	height: 100%;
	padding: 0;
  }
  
  #header .header-logo {
	height: 100px;
	padding: 25px 57px;
	position: relative;
	display: block;
	cursor: pointer;
	z-index: 2;
  }
  #header .header-logo img{
	transform: translateZ(2px);
  }
  #header .header-logo span{
  
	height: 36px;
	width: 36px;
	background-color: #b46e3c;
	position: absolute;
	top: 32px;
	left: 50%;
	transform: rotate(45deg);
	margin-left: -18px;
	z-index: 0;
	animation: logo-rotate 10s ease infinite;
	-moz-animation: logo-rotate 10s ease infinite;
	-webkit-animation: logo-rotate 10s ease infinite;
  }
  #header .header-body-fixed {
	height: 100px;
  }
  
  #header .header-body-fixed .navbar-default {
	background-color: rgba(34, 34, 34, 0.95);
  }
  
  #header .header-body-fixed .navbar-default.light {
	background-color: rgba(255, 255, 255, 0.9);
  }
  
  #header .header-body-fixed .navbar-default.light .navbar-nav li .bg-nav-gr{
	height: 100%;
	background: rgba(255,255,255, 0.8);
  }
  #header .header-body-fixed .navbar-default .navbar-nav {
	height: 100px;
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li {
	height: 100px;
	background-size: cover;
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li a {
	text-indent: 0;
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li .link-item {
	text-indent: 0;
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li .bg-icon {
	color: rgba(255, 255, 255, 0.2);
	top: 8px;
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li .bg-icon i {
	color: rgba(255, 255, 255, 0.2);
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li .rotated-title {
	display: none;
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li .sub-menu-container {
	background-color: rgba(0, 0, 0, 0.9);
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li .sub-menu-container .sub-menu-list li {
	height: inherit;
  }
  
  #header .header-body-fixed .navbar-default .navbar-nav li:hover .sub-menu-container {
	left: 0;
  }
  
  #header .header-body-fixed .navbar-default.light .navbar-nav li a {
	color: #222222;
  }
  
  #header .header-body-fixed .navbar-default.light .navbar-nav li .link-item {
	color: #222222;font-weight: 900; text-shadow: 0 0 10px #fff;
  }
  
  #header .header-body-fixed .navbar-default.light .navbar-nav li .bg-icon {
	color: rgba(34, 34, 34, 0.2);
  }
  
  #header .header-body-fixed .navbar-default.light .navbar-nav li .bg-icon i {
	color: rgba(34, 34, 34, 0.3);
  }
  
  #header .header-body-fixed .navbar-default.light .navbar-nav li .sub-menu-container {
	background-color: rgba(255, 255, 255, 0.9);
  }
  
  #header .header-body-fixed #container-fixed {
	padding: 0;
	height: 100px;
  }
  
  #header .header-body-fixed .navbar-single {
	background: #222222;
  }
  
  #header .navbar-header-phone {
	position: absolute;
	margin-right: 40px;
	right: 50%;
	top: 0;
  }
  
  #header .navbar-header-phone p {
	color: rgba(255, 255, 255, 0.5);
	text-align: right;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1px;
	margin: 30px 0 0;
  }
  
  #header .navbar-header-phone p i {
	color: #b46e3c;
	margin-right: 10px;
  }
  
  #header .navbar-default {
	background: none;
	border: none;
	margin-bottom: 0;
	height: 100%;
	align-items: flex-start;
	padding: 0;
  }
  
  #header .navbar-default .navbar-header {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
  }
  
  #header .navbar-default .navbar-collapse {
	align-items: start;
	height: 100vh;
  }
  
  #header .navbar-default .navbar-nav {
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
  
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #header .navbar-default .navbar-nav:hover {
	right: -20%;
  }
  
  #header .navbar-default .navbar-nav li {
	position: relative;
	display: block;
	height: 100%;
	float: left;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  
  #header .navbar-default .navbar-nav li .bg-icon {
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 40px;
	top: 30px;
	font-weight: 400;
	font-family: 'JosefinSans', sans-serif;
	font-size: 60px;
	line-height: 80px;
  }
  
  #header .navbar-default .navbar-nav li .bg-icon i {
	font-size: 60px;
	color: rgba(255, 255, 255, 0.5);
  }
  
  #header .navbar-default .navbar-nav li .rotated-title {
	position: absolute;
	left: 30px;
	bottom: 50px;
	font-size: 42px;
	letter-spacing: 3px;
	line-height: 60px;
	width: 60px;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-family: 'JosefinSans', sans-serif;
	color: rgba(255, 255, 255, 0.7);
  
  }
  
  
  
  #header .navbar-default .navbar-nav li .sub-menu-container {
	position: absolute;
	top: 0;
	margin-top: 100px;
	padding: 15px 20px;
	left: 1000px;
	max-width: 300px;
	opacity: 0;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	transition: all 0.25s ease;
  }
  
  #header .navbar-default .navbar-nav li .sub-menu-container .sub-menu-list {
	min-width: 150px;
  }
  
  #header .navbar-default .navbar-nav li .sub-menu-container .sub-menu-list li {
	width: inherit;
	display: block;
	float: none;
	box-shadow: none;
  }
  
  #header .navbar-default .navbar-nav li .sub-menu-container .sub-menu-list li a {
	line-height: 40px;
	font-size: 12px;
	text-transform: uppercase;
  }
  
  #header .navbar-default .navbar-nav li .sub-menu-container .sub-menu-list li .link-item {
	line-height: 40px;
	font-size: 12px;
	text-transform: uppercase;
  }
  
  #header .navbar-default .navbar-nav li:hover .sub-menu-container {
	left: 90px;
	opacity: 1;
  }
  
  #header .navbar-default .navbar-nav li:hover .rotated-title.effect {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	left: 40px;
  }
  
  #header .navbar-default .navbar-nav li:hover .rotated-title {
	color: #ffffff;
  }
  
  #header .navbar-default .navbar-nav li.no-bg-shadow {
	background: none;
	box-shadow: none;
  }
  
  #header .navbar-default .navbar-nav li.no-bg-shadow a {
	background: none !important;
  }
  
  #header .navbar-default .navbar-nav li.no-bg-shadow .link-item {
	background: none !important;
  }
  
  #header .navbar-default .navbar-nav .home {
	background-image: url("src/resources/bg6.jpg");
	background-position: center center;
	background-size: cover;
  }
  
  #header .navbar-default .navbar-nav .about {
	background-image: url("src/resources/bg2.jpg");
	background-position: center center;
	background-size: cover;
  }
  #header .navbar-default .navbar-nav .service {
	background-image: url("src/resources/bg3.jpg");
	background-position: center center;
	background-size: cover;
  }
  
  #header .navbar-default .navbar-nav .work {
	background-image: url("src/resources/bg4.jpg");
	background-position: center center;
	background-size: cover;
  }
  #header .navbar-default .navbar-nav .contact {
	background-image: url("src/resources/bg5.jpg");
	background-position: center center;
	background-size: cover;
  }
  
  #header .navbar-default.light .navbar-toggle .icon-bar {
	background-color: rgba(34, 34, 34, 0.5);
  }
  
  #header .navbar-default.light .navbar-nav li {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  #header .navbar-default.light .navbar-nav li .bg-icon {
	color: rgba(34, 34, 34, 0.5);
  }
  
  #header .navbar-default.light .navbar-nav li .bg-icon i {
	color: rgba(34, 34, 34, 0.5);
  }
  
  #header .navbar-default.light .navbar-nav li .rotated-title {
	color: rgba(34, 34, 34, 0.9);
  }
  
  #header .navbar-default.light .navbar-nav li.no-bg-shadow {
	background: none;
	box-shadow: none;
  }
  #header .navbar-default.light .navbar-nav li .bg-nav-gr {
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	background: rgba(255,255,255,8);
	background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%,  rgba(255,255,255,0.7) 80%, rgba(255,255,255,0.01) 100%);
  
  }
  
  
  #header .navbar-default.light .navbar-nav li.no-bg-shadow a {
	background: none !important;
  }
  
  #header .navbar-default.light .navbar-nav li.no-bg-shadow .link-item {
	background: none !important;
  }
  
  #header .navbar-default.light .navbar-nav .home {
	background-image: url("src/resources/bg2.jpg");
  }
  
  #header .navbar-default.light .navbar-nav .about {
	background-image: url("src/resources/bg3.jpg");
  }
  
  #header .navbar-default.light .navbar-nav .service {
	background-image: url("src/resources/bg4.jpg");
  }
  
  #header .navbar-default.light .navbar-nav .work {
	background-image: url("src/resources/bg5.jpg");
  }

  #header .navbar-default.light .navbar-nav .contact {
	background-image: url("src/resources/bg6.jpg");
  }
  
  #header .navbar-default .menu-item-4 li {
	width: 12.5%;
  }
  
  #header .navbar-default .menu-item-4 li:hover {
	width: 42.5%;
  }
  
  #header .navbar-default .menu-item-5 li {
	width: 10%;
  }
  
  #header .navbar-default .menu-item-5 li:hover {
	width: 40%;
  }
  
  #header .navbar-default .menu-item-6 li {
	width: 8.33333333%;
  }
  
  #header .navbar-default .menu-item-6 li:hover {
	width: 38%;
  }
  
  #header .navbar-default .menu-item-7 li {
	width: 7.1428%;
  }
  
  #header .navbar-default .menu-item-7 li .bg-icon {
	left: 30px;
  }
  
  #header .navbar-default .menu-item-7 li .rotated-title {
	left: 20px;
  }
  
  #header .navbar-default .menu-item-7 li:hover {
	width: 37.16%;
  }
  
  #header .navbar-default .menu-item-8 li {
	width: 6.25%;
  }
  
  #header .navbar-default .menu-item-8 li .bg-icon {
	left: 25px;
  }
  
  #header .navbar-default .menu-item-8 li .rotated-title {
	left: 15px;
  }
  
  #header .navbar-default .menu-item-8 li:hover {
	width: 36.25%;
  }
  
  #header .navbar-default .navbar-nav.no-bg-img>li {
	background: rgba(34, 34, 34, 0.95);
	box-shadow: none;
  }
  
  #header .navbar-default .navbar-nav.no-bg-img>li:nth-child(odd) {
	background: rgba(19, 19, 19, 0.98);
  }
  
  #header .navbar-default .navbar-nav>li>a,
  #header .navbar-default .navbar-nav>li>.link-item {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	font-family: 'Opensans', sans-serif;
	font-size: 13px;
	padding: 40px 20px;
	letter-spacing: 3px;
	position: absolute;
	font-weight: 900;
	left: 0;
	top: 0;
	text-indent: 10000px;
	width: 100%;
	height: 100%;
	cursor: pointer;
  }
  
  #header .navbar-default .navbar-nav>li>a:hover,
  #header .navbar-default .navbar-nav>li>.link-item:hover {
	color: #ffffff;
  }
  
  #header .navbar-default .navbar-nav a.current,
  #header .navbar-default .navbar-nav a.current:hover,
  #header .navbar-default .navbar-nav a:hover,
  #header .navbar-default .navbar-nav a.current:focus {
	background-color: rgba(180, 110, 60, 0.2);
	color: #ffffff;
  }
  #header .navbar-default.light .navbar-nav a.current,
  #header .navbar-default.light .navbar-nav a.current:hover,
  #header .navbar-default.light .navbar-nav a:hover,
  #header .navbar-default.light .navbar-nav a.current:focus {
	background: none;
  
  }
  
  
  #header .navbar-default .navbar-nav .link-item:focus {
	background-color: rgba(180, 110, 60, 0.7);
	color: #ffffff;
  }
  
  #header .navbar-default .navbar-toggle,
  #header .navbar-single .navbar-toggle {
  
	margin-right: 30px;
	border-radius: 0;
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-bottom: 0;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
  }
  
  #header .navbar-default .navbar-toggle .icon-bar,
  #header .navbar-single .navbar-toggle .icon-bar {
	background-color: #ffffff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-top: 4px;
  }
  #header .navbar-default .navbar-toggle .icon-bar:first-child,
  #header .navbar-single .navbar-toggle .icon-bar:first-child {
	margin-top: 0;
  }
  #header .navbar-default .navbar-toggle:hover,
  #header .navbar-default .navbar-toggle:focus,
  #header .navbar-single .navbar-toggle:hover,
  #header .navbar-single .navbar-toggle:focus {
	background-color: #b46e3c;
	border-color: #b46e3c;
  }
  
  #header .navbar-single {
	background: none;
	border: none;
  }
  
  #header .navbar-single .navbar-nav-single>.open>a,
  #header .navbar-single .navbar-default .navbar-nav>.open>a:hover,
  #header .navbar-single .navbar-default .navbar-nav>.open>a:focus {
	background: none;
  }
  
  #header .navbar-single .navbar-nav-single>.open>.link-item,
  #header .navbar-single .navbar-default .navbar-nav>.open>.link-item:hover,
  #header .navbar-single .navbar-default .navbar-nav>.open>.link-item:focus {
	background: none;
  }
  
  #header .navbar-single .dropdown-menu {
	border: 1px solid #ffffff;
	padding: 0;
	border-radius: 0;
	margin: 0;
	background-color: #ffffff;
	-webkit-box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
	box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
  }
  
  #header .navbar-single .dropdown-menu li>a {
	padding: 0 15px;
	white-space: nowrap;
	min-height: 32px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 40px;
	color: rgba(34, 34, 34, 0.5);
	font-family: 'Opensans', sans-serif;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  
  #header .navbar-single .dropdown-submenu {
	position: relative;
  }
  
  #header .navbar-single .dropdown-submenu:hover:after {
	color: rgba(34, 34, 34, 0.5);
  }
  
  #header .navbar-single .dropdown-submenu:after {
	content: "\f3d3";
	font-family: Ionicons;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 14px;
	z-index: -1;
	padding-left: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	color: rgba(34, 34, 34, 0.5);
  }
  
  #header .navbar-single .dropdown-submenu>.dropdown-menu {
	position: absolute;
	left: 100% !important;
	top: -1px;
	margin: 0;
  }
  
  #header .navbar-single .dropdown-submenu:hover>.dropdown-menu {
	display: block;
  }
  
  #header .navbar-single .dropdown-menu>li>a:hover,
  #header .navbar-single .dropdown-menu>li>a:focus {
	color: #222222;
	background-color: rgba(180, 110, 60, 0.1);
  }
  
  #header .navbar-single .navbar-nav-single>li>a {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.9);
	font-family: 'Opensans', sans-serif;
	font-size: 11px;
	padding: 10px 0 10px;
	letter-spacing: 2px;
	margin: 33px 0 32px 18px;
  }
  
  #header .navbar-single .navbar-nav-single>li>a:after {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 0;
	height: 1px;
	background-color: #ffffff;
	width: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  
  #header .navbar-single .navbar-nav-single>li>a:hover,
  #header .navbar-single .navbar-nav-single>li>a:focus {
	background: none;
	color: #ffffff;
  }
  
  #header .navbar-single .navbar-nav-single>li>a:hover:after,
  #header .navbar-single .navbar-nav-single>li>a:focus:after {
	width: 100%;
  }
  
  #header .navbar-single .navbar-nav-single>li.active>a,
  #header .navbar-single .navbar-nav-single>li.active>a:hover,
  #header .navbar-single .navbar-nav-single>li.active>a:focus {
	background: none;
  }
  
  #header .navbar-single .navbar-nav-single>li.active>a:after,
  #header .navbar-single .navbar-nav-single>li.active>a:hover:after,
  #header .navbar-single .navbar-nav-single>li.active>a:focus:after {
	width: 100%;
  }
  
  #header .navbar-single .navbar-nav-single a.current,
  #header .navbar-single .navbar-nav-single a.current:hover,
  #header .navbar-single .navbar-nav-single a.current:focus {
	background: none;
	color: #ffffff;
  }
  
  #header .navbar-single .navbar-nav-single a.current:after,
  #header .navbar-single .navbar-nav-single a.current:hover:after,
  #header .navbar-single .navbar-nav-single a.current:focus:after {
	width: 100%;
  }
  