/* Estilos para la sección de cobertura */
.coverage-section {
  background-color: #D8B668; /* Color vinotinto */
  padding: 3rem;
  color: white;
}

.coverage-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Mantiene el mapa y el texto alineados */
}

.coverage-section .row {
  display: flex;
  align-items: center;
  width: 100%;
}

.coverage-section .map-column,
.coverage-section .text-column {
  flex: 1;
  padding: 2rem; /* Asegura que tanto el texto como la imagen estén alineados con márgenes iguales */
}

.coverage-section .map-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.coverage-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.coverage-section .title-underline {
  width: 100px;
  height: 5px;
  background-color: #722F37; /* Color dorado */
  margin-bottom: 1.5rem;
}

.coverage-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.coverage-section .btn-primary {
  background-color: #722F37; /* Color dorado que combina */
  color: #D8B668;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.coverage-section .btn-primary:hover {
  background-color: #c0a355; /* Tono más oscuro del dorado al pasar el mouse */
}
 