@import url('../shared/components/header/styles.css');
@import url('../shared/components/Footer/styles.css');
@import url('../shared/components/About/style.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../shared/components/Feature/style.css');
@import url('../shared/components/Testimonials/style.css');
@import url('../shared/components/Team Section/style.css');
@import url('../shared/components/Quotation/style.css');
@import url('../shared/components/Gallery/style.css');
@import url('../shared/components/Service Section/style.css');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Opensans', sans-serif;
}

/* Ajuste del contenedor principal */
.intro {
  display: flex;
  height: 100vh;
  background-color: #722f37;
}

/* Contenedor para el GIF y el texto */
.text-on-gif {
  position: relative;
  width: 100%;
  height: 100%;
}

/* El GIF ocupa toda la sección */
.video-section {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-on-gif::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(114, 47, 55, 1) 0%,
    rgba(114, 47, 55, 0.6) 10%,
    rgba(114, 47, 55, 0.4) 20%,
    rgba(114, 47, 55, 0) 40%,
    rgba(114, 47, 55, 0) 60%,
    rgba(114, 47, 55, 0.4) 80%,
    rgba(114, 47, 55, 0.6) 90%,
    rgba(114, 47, 55, 1) 100%
  );
  pointer-events: none;
  z-index: 1;
}

/* Sección de las palabras */
.text-section {
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: left;
  color: #ffffff;
  z-index: 2;
}

.text-section h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 72px; /* Mantiene el tamaño grande */
  font-weight: 700;
  text-transform: uppercase;
}

/* Texto estático "SOMOS" */
.static-text {
  color: rgb(255, 255, 255);
}

/* Texto cambiante */
#changing-text {
  color: #ffffff;
  transition: opacity 1s ease-in-out;
}
