@import url("../shared/components/header/styles.css");
@import url("../shared/components/Footer/styles.css");
@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../shared/components/Feature/style.css');
@import url("../shared/components/Testimonials/style.css");
@import url("../shared/components/Team Section/style.css");
@import url("../shared/components/Contact/style.css");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}


/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../resources/Camaras\ de\ vigilancia.gif) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.intro-text {
	padding-top: 350px;
	padding-bottom: 200px;
	text-align: left;
	z-index: 10;
}