@import url("../shared/components/header/styles.css");
@import url("../shared/components/Footer/styles.css");
@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../shared/components/Feature/style.css');
@import url("../shared/components/Testimonials/style.css");
@import url("../shared/components/Team Section/style.css");
@import url("../shared/components/Contact/style.css");
@import url("../shared/components/Gallery/style.css");
@import url("../shared/components/Service Section/style.css");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}


/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../resources/Camaras\ de\ vigilancia.gif) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	-o-background-size: contain;
}
.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.intro-text {
	position: relative;
	text-align: left;
	z-index: 10;
}
.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}
.presentation {
	top: 65vh;
}