#contact-page .contact-section {
  padding: 20vh 0;
  background-color: #f0f4f7;
  min-height: 100dvh;
}

#contact-page .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alineación superior */
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem; /* Aumentar espacio entre texto e imagen */
  flex-wrap: wrap;
}

#contact-page .text-section {
  flex: 2;
  padding: 2rem; /* Espacio interno mayor */
}

#contact-page .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

#contact-page .contact-image {
  width: 100%;
  max-width: 550px; /* Aumentar el tamaño máximo */
  border-radius: 8px;
  margin: 6rem 7rem 6rem 0; /* Espaciado: arriba, derecha, abajo, izquierda */
}

#contact-page .contact-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

#contact-page .contact-subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#contact-page .contact-paragraph {
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: justify;
}

#contact-page .contact-list {
  font-size: 1.6rem;
  list-style-type: circle;
  padding-left: 1.5rem;
  line-height: 2;
}

#contact-page .link-item {
  color: #722f37;
  text-decoration: none;
  font-weight: bold;
}

#contact-page .link-item:hover {
  text-decoration: underline;
}

/* Estilos para el calendario */
#contact-page .calendar {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

#contact-page .day {
  background-color: #eaeaea; /* Fondo gris claro */
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-page .off-day {
  background-color: #722f37; /* Vinotinto para domingo */
  color: white; /* Color de texto blanco */
}

/* Nueva sección cotización */
#contact-page .cotizacion-section {
  padding: 10vh 0;
  background-color: #ffffff; /* Fondo blanco para diferenciarse de la sección anterior */
  border-radius: 8px;
}

/* Alinear imagen a la izquierda y formulario a la derecha */
#contact-page #contact-page .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
  flex-wrap: wrap;
}

#contact-page #contact-page .contact-form {
  flex: 2;
  padding: 2rem;
}

#contact-page .contact-form .section-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#contact-page .contact-form .form-control {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#contact-page .contact-form .custom-button {
  background-color: #722f37;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 4px;
}

#contact-page .contact-form .custom-button:hover {
  background-color: #5a232b;
}

#contact-page .image-container {
  flex: 1;
  margin: auto;
}

#contact-page .contact-image1 {
  width: 100%;
  max-width: 400px; 
}
