#footer {
	background: #722F37;
	padding: 20px 0;
	color: #D8B668;
	font-size: 14px;
  }
  
  .footer-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
  
  .footer-column {
	flex: 1;
	text-align: center;
  }
  .super-logo{
	width: 200px;
  }
  .footer-logo{
	width: 80px; /* Ajusta el tamaño según sea necesario */
	height: auto;
	margin-bottom: 10px;
  }
  
  .footer-column p {
	margin: 5px 0;
  }
  
  .footer-column p strong {
	color: #D8B668;
  }
  
  #footer p {
	color: #D8B668;
  }
  
  .footer-column img {
	margin-bottom: 10px;
  }
  