#contact {
	padding: 50px 0;
	background-color: #EAEAEA;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }
  
  .contact-container {
	display: flex;
	max-width: 1200px;
	width: 100%;
	background-color: #D8B668;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
  }
  
  .contact-form {
	flex: 1;
	padding: 40px;
  }
  
  .contact-form h2 {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
  }
  
  .contact-form p {
	font-size: 16px;
	margin-bottom: 30px;
	color: #666;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  .form-control {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #722F37;
	border-radius: 4px;
	color: #333;
  }
  
  textarea.form-control {
	resize: none;
  }
  
  .btn-custom {
	background-color: #EAEAEA;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
  }
  
  .btn-custom:hover {
	background-color: #722F37;
  }
  
  .contact-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #722F37;
  }
  
  .contact-image img {
	max-width: 100%;
	height: auto;
	border-radius: 0 10px 10px 0;
  }
  