
/* ================================
     Sección de Certificaciones
     ================================ */
.certificaciones {
  padding: 7rem 0;
  color: #000;
  text-align: center;
}

.certificaciones-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.certificacion {
  position: relative;
  transition: transform 0.3s ease;
  margin: 1rem;
}

.certificacion img {
  width: 100px;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.certificacion p {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #000;
}

.certificacion:hover {
  transform: scale(1.05);
}

.certificacion:hover img {
  transform: scale(1.1);
}

/* Tooltip para certificaciones */
.certificacion[data-bs-toggle='tooltip']::after {
  content: attr(title);
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.certificacion:hover[data-bs-toggle='tooltip']::after {
  opacity: 1;
}

/* ================================
     Sección de Estadísticas (Stats)
     ================================ */
.stats-section {
  padding: 5rem 0;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2.section-title {
  padding-bottom: 6rem;
  font-size: 3em;
  font-weight: 800;
}

.section-title > h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 20px;
}

.stats-section .row {
  display: flex;
  justify-content: space-around;
}

.stats-section .col-md-3 {
  margin-bottom: 2rem;
}

.stats-section h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #b39200;
}

.stats-section i {
  font-size: 2rem;
  color: #b39200;
}

.stats-section .count {
  font-size: 3rem;
  color: #b39200;
  display: inline-block;
}
/* ================================
   Sección de Clientes (Carrusel)
   ================================ */
.clientes-section {
  text-align: center;
  padding: 40px;
  color: #000;
}

.clientes-section p {
  font-size: 16px;
  margin-bottom: 40px;
}

.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Ajuste para que todas las imágenes tengan el mismo tamaño */
.client-logo img {
  width: 150px; /* Ancho fijo para todas las imágenes */
  height: 150px; /* Altura fija para todas las imágenes */
  object-fit: contain; /* Ajustar la imagen dentro del contenedor sin distorsionarla */
  border-radius: 8px; /* Bordes redondeados opcionales */
}

/* ================================
   Slick Carousel - Estilos personalizados
   ================================ */
.slick-prev:before,
.slick-next:before {
  color: #722f37 !important;
}
