#about {
  padding: 10rem;
}

#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#about h2::after {
  position: absolute;
  content: '';
  background: linear-gradient(to right, #000000 0%, #722f37 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}

#about img {
  width: 520px;
  margin-top: 10px;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
}
